@font-face {
    font-family: "Myriad Pro";
    src: url(../fonts/MyriadPro-Cond.otf);
    font-weight: normal;
}

@font-face {
    font-family: "Myriad Pro";
    src: url(../fonts/MyriadPro-BoldCond.otf);
    font-weight: bold;
}

@font-face {
    font-family: Avenir;
    src: url(../fonts/AvenirNextLTPro-MediumCn.otf);
    font-weight: 400;
}

.row{
    margin-left: 0px;
    margin-right: 0px;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    padding-right: 0px;
    padding-left: 0px;
}

.header_full_length{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.navi_styles{
    position: absolute;
    z-index: 1;
    width: 100%;
    border: none;
    height: 125px;
    background: rgba(0,0,0,0.5);
    background: -moz-linear-gradient(top, rgba(0,0,0,0.5) 0%, rgba(255,255,255,0) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,0.5)), color-stop(100%, rgba(255,255,255,0)));
    background: -webkit-linear-gradient(top, rgba(0,0,0,0.5) 0%, rgba(255,255,255,0) 100%);
    background: -o-linear-gradient(top, rgba(0,0,0,0.5) 0%, rgba(255,255,255,0) 100%);
    background: -ms-linear-gradient(top, rgba(0,0,0,0.5) 0%, rgba(255,255,255,0) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,0.5) 0%, rgba(255,255,255,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#ffffff', GradientType=0 );
}

body{
    cursor: url('../images/imi_pointer.gif'),auto;
}

.imi_logo{
    transition: padding .5s;
    -webkit-transition: padding .5s;
}

.imi_logo img{
    width: 80px;
    margin-left: 15px;
    transition: width .5s;
    -webkit-transition: width .5s;
}

.logo_small{
    padding: 15px 15px;
}

.logo_small img{
    width: 50px
}

.navi_links li a{
    color: #fff !important;
    font-family: Myriad Pro;
    outline: none;
    text-transform: uppercase;
    border-bottom: solid 2px rgba(255, 118, 0, 0.0);
    transition: padding-bottom .3s ease-in-out;
}

.navi_links{
    border: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    padding: 20px 15px 0;
}

.navi_links ul{
    padding-top: 10px;
    font-size: 18px;
}

.navi_links li:hover{
    padding: 15px 13px;
}

.navi_links li:hover a{
    padding: 0 2px !important;
    border-bottom: solid 2px rgba(255, 118, 0, 0.5);
}

.active_link{
    padding: 15px 13px;
}

.navi_styles div{
    transition: background-color .5s;
    -webkit-transition: background-color .5s;
}

.trans_black_bg{
    background-color: rgba(0,0,0,.8);
}

.active_link a{
    padding: 0 2px !important;
    border-bottom: solid 2px #ff0000 !important;
}

.game_info{
    padding: 35vh 0 15vh;
}

.game_info_blocks{
    position: absolute;
    width: 100%;
    bottom: 0px;
    padding: 50px 30px;
    background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.8) 100%);
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.8) 100%);
    background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.8) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#80000000',GradientType=0 );

}

.game_title{
    font-family: "Myriad Pro";
    margin: 0px;
    font-size: 50px;
    text-transform: uppercase;
    color: #fff;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.8);
}

.game_title_block{
    font-family: "Myriad Pro";
    margin: 0px;
    font-size: 40px;
    text-transform: uppercase;
    color: #fff;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.8);
}

.short_descri{
    font-family: Avenir;
    color: #fff;
    font-size: 20px;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.8);
}

.short_descri_block{
    font-family: Avenir;
    color: #fff;
    font-size: 15px;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.8);
}

.game_ele_rate{
    width: 145px;
    position: relative;
    right: 5px;
}

.game_ele_rate_block{
    width: 145px;
/*    position: relative;
    right: 5px;*/
}



.header_play_btn{
    position: relative;
    text-decoration: none;
    top: 20px;
    background-color: transparent;
    border: solid 2px #fff;
    color: #fff;
    font-size: 20px;
    font-family: "Myriad Pro";
    text-decoration: none !important;
    padding: 10px 45px;
    -webkit-transition: color .5s, background-color .5s;
    transition: color .5s, background-color .5s;
}

.header_play_btn:hover{
    text-decoration: none;
    background-color: #fff;
    color: #0f0f0f;
}

.play_btn_block{
    background-color: transparent;
    border: solid 2px #fff;
    color: #fff;
    font-size: 20px;
    font-family: "Myriad Pro";
    padding: 5px 45px;
    margin-top: 15px;
    -webkit-transition: color .5s, background-color .5s; /* Safari */
    transition: color .5s, background-color .5s;
}

.play_btn_block:hover{
    background-color: #fff;
    color: #0f0f0f;
}

.play_btn_profile{
    background-color: transparent;
    border: solid 2px #fff;
    color: #fff;
    font-size: 20px;
    font-family: "Myriad Pro";
    margin-top: 7px;
    padding: 5px 45px;
    -webkit-transition: color .5s, background-color .5s; /* Safari */
    transition: color .5s, background-color .5s;
}

.play_btn_profile:hover{
    background-color: #fff;
    color: #0f0f0f;
}

.pro_info_save_btn{
    background-color: rgba(0, 0, 0, 0.39);
    border: solid 2px #fff;
    color: #fff;
    font-size: 20px;
    font-family: "Myriad Pro";
    margin-bottom: 20px;
    padding: 5px 45px;
    -webkit-transition: color .5s, background-color .5s; /* Safari */
    transition: color .5s, background-color .5s;
}

.pro_info_save_btn:hover{
    background-color: #fff;
    color: #0f0f0f;
}

.top_game_ele{
    /*background-position: center;
    background-repeat: no-repeat;
    background-size: cover;*/
}

.top_game_ele_double{
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg_overlay{
    width: 100%;
    -webkit-perspective: 200px; /* Chrome, Safari, Opera */
    perspective: 200px;
    background: -moz-linear-gradient(top,  rgba(0,0,0,0) 10%, rgba(0,0,0,0.8) 90%);
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 10%,rgba(0,0,0,0.8) 90%);
    background: linear-gradient(to bottom,  rgba(0,0,0,0) 10%,rgba(0,0,0,0.8) 90%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#80000000',GradientType=0 );
}

.set_margin_0{
    margin: 0;
}

.star_rating {
    pointer-events: none;
    padding: 4px 0;
}

.star_rating i{
    position: relative;
    bottom: 0px;
    color: #ffd321;
    font-size: 30px;
    padding-right: 5px;
}

.center_stars{
    margin: 0 auto;
}

.footer{
    background-color: #000;
    color: #fff;
}

.footer ul{
    list-style: none;
}

.social_icon_list li{
    display: inline-block;
    background-color: #fff;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin: 0 5px;
    padding: 6px 0px 0px 0px;
}

.footer_navi_list{
    margin: 0;
    padding: 3px 0 0;
}

.social_icon_list{
    margin: 0;
}

.footer_navi_list li{
    display: inline-block;
}

.footer_navi_list li a{
    text-decoration: none;
    color: #fff;
}

.company_text{
    padding: 3px 0 0;
}

.footer div{
    text-align: center;
    padding: 25px 0;
}

.social_icons{
    text-decoration: none;
    color: #000;
}

.social_icon_list li a{
    transition: color .5s ease-in-out;
    -webkit-transition: color .5s ease-in-out;
}

#pro_info_save{
    display: none;
}

.social_icon_list li:hover a{
    color: #ff0000;
}

.company_text p{
    margin: 0px;
}

.footer_navi{
    transition: color .5s ease-in-out;
    -webkit-transition: color .5s ease-in-out;
}

.footer_navi:hover{
    color: #ff0000;
}

.profile_pic{
    position: relative;
    background-position: center;
    background-size: cover;
    margin: 0 5px 0 0;
    width: 150px;
    height: 200px;
    border: solid 2px #fff;
}

.profile_pic .edit_tog{
    cursor: pointer;
    transition: opacity .3s;
    -webkit-transition: opacity .3s;
    position: absolute;
    opacity: 0;
    bottom: 0;
    right: 0;
    width: 50px;
}

.profile_pic:hover .edit_tog{
    opacity: 1;
}

.profile_pic_wrapper{
    display: inline-block;
}

.profile_info{
    display: inline-block;
}

.prp_detail_row{
    background-color: rgba(0,0,0,.7);
    padding: 8px 25px 0px;
    margin: 0 0 10px;
}

.prp_detail_row:last-child{
    margin: 0px;
}

.prp_detail_row input{
    background-color: transparent;
    border: none;
    outline: none;
    margin: 0;
    padding: 0;
}

.game_detail_row_r{
    background-color: rgba(255,0,0,.63);
    padding: 8px 0 8px 185px;
    margin: 0 0 10px;
    overflow: hidden;
}

.game_detail_row_g{
    background-color: rgba(64,255,33,.63);
    padding: 8px 0 8px 185px;
    margin: 0 0 10px;
    overflow: hidden;
}

.dr_pencil_icon{
    padding: 12px 0px 0;
    margin: 0 40px 0 0;
    -webkit-filter: invert(1);
    filter: invert(1);
    transform-origin: 50% 70%;
    -webkit-transform-origin: 50% 70%;
    -ms-transform-origin: 50% 70%;
    transition: transform .4s;
    -webkit-transition: transform .4s;
    cursor: pointer;
}

.dr_pencil_icon:hover{
    transform: rotateZ(360deg);
    -webkit-transform: rotateZ(360deg);
    -ms-transform: rotateZ(360deg);
}

.dr_cup_icon{
    position: absolute;
    width: 93px;
    right: -50px;
    top: -25px;
    opacity: .6;
    padding: 12px 0px 0;
    margin: 0 40px 0 0;
    -webkit-filter: invert(1);
    filter: invert(1);
}

.dr_badge_icon{
    position: absolute;
    width: 93px;
    right: -50px;
    top: -38px;
    opacity: .6;
    padding: 12px 0px 0;
    margin: 0 40px 0 0;
    -webkit-filter: invert(1);
    filter: invert(1);
}

.un_title{
    color: #fff;
    font-family: myriad pro;
    font-size: 16px;
}

.un_title span{
    color: #ff0000;
}

.detail_un{
    color: #fff;
    font-family: Myriad pro;
    font-weight: bold;
    font-size: 25px;
    line-height: .8;
}

.game_detail_row_g .detail_un{
    color: #282828;
}

.profie_info_warapper{
    padding: 150px 60px 5px;
}

.game_info_warapper{
    color: #fff;
    padding: 0 60px 1px;
}

.login_signup_modals{
    border-radius: 0px !important;
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
}

.modal_close{
    float: right;
    opacity: 1;
    text-shadow: none;
    background-color: #ff0000;
    border: none;
    outline: none;
    padding: 6px 7px 8px;
    font-size: 22px;
    color: #fff;
    transition: background-color .3s;
    -webkit-transition: background-color .3s;
}

.modal_close:hover{
    outline: none;
    font-size: 22px;
    background-color: #696969;
}

.input_styles{
    margin: 0 15px 18px !important;
}

.input_styles label{
    text-align: left !important;
    font-weight: normal;
    font-size: 16px;
    text-transform: uppercase;
}

.input_cont{
    font-family: "Myriad Pro";
    padding: 20px 0 60px;
}

.input_cont_msg{
    font-family: "Myriad Pro";
    padding: 20px 0 40px;
}

.input_styles button{
    border-radius: 0px;
    padding: 5px 0 3px;
    background-color: #e42125;
    color: #fff;
    letter-spacing: 1px;
    font-size: 16px;
    text-transform: uppercase;
    border: solid 1px #e42125;
    transition: background-color .3s, border .3s;
    -webkit-transition: background-color .3s, border .3s;
}

.input_styles button:hover{
    background-color: #696969;
    border: solid 1px #696969;
    color: #fff;
}

.social_login a{
    text-decoration: none;
    border-radius: 0px;
    color: #fff;
    letter-spacing: 1px;
    font-size: 16px;
    text-transform: uppercase;
    margin: 0 10px 0 0;
    transition: background-color .3s, border .3s;
    -webkit-transition: background-color .3s, border .3s;
}

.social_login a:hover{
    background-color: #696969 !important;
    border: solid 1px #696969 !important;
    color: #fff !important;
}

.facebook_login{
    padding: 10px 11px 6px 12px !important;
    background-color: #3b5998 !important;
    border: solid 1px #3b5998 !important;
}

.google_login{
    padding: 10px 4px 6px 8px !important;
    background-color: #d34836 !important;
    border: solid 1px #d34836 !important;
}

.twitter_login{
    padding: 10px 7px 6px 10px !important;
    background-color: #1da1f2 !important;
    border: solid 1px #1da1f2 !important;
}

.input_styles input{
    border-radius: 0;
    box-shadow: none;
    border: solid 1px #000;
    font-size: 16px;
    padding: 5px 7px 3px;
    height: initial;
}

.input_styles textarea{
    resize: none;
    border-radius: 0;
    box-shadow: none;
    border: solid 1px #000;
    font-size: 16px;
    padding: 5px 7px 3px;
    height: initial;
}

.input_styles textarea:focus{
    border-color: #e42125;
    box-shadow: none;
}

.input_styles:nth-child(3){
    margin-bottom: 20px;
}

.input_styles input:focus{
    border-color: #e42125;
    box-shadow: none;
}

.modal_title{
    margin: 70px 0 20px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    color: #000;
    font-size: 38px;
    font-family: Myriad Pro;
}

.msg_modal_title{
    margin: 20px 0 15px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    color: #000;
    font-size: 25px;
    font-family: Myriad Pro;
}

.block_hover_trans_s1{
    -webkit-animation: blk_hvr_trns_s1 .3s forwards;
    -moz-animation: blk_hvr_trns_s1 .3s forwards;
    -ms-animation: blk_hvr_trns_s1 .3s forwards;
    -o-animation: blk_hvr_trns_s1 .3s forwards;
    animation: blk_hvr_trns_s1 .3s forwards;
}

.game_descri_img{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 50vh;
}

.game_descri_txt{
    font-family: "Myriad Pro";
    padding: 10vh 15vh;
}

.game_descri_txt h2{
    margin: 0;
    color: #000;
    text-transform: uppercase;
}

.comment_sec_title{
    margin: 0;
    color: #000;
    text-transform: uppercase;
    padding-bottom: 15px;
}

.game_descri_txt p{
    font-size: 20px;
    line-height: 20px;
}

.game_descri_img p{
    font-size: 15px;
    color: #000;
}

.game_descri_wrapper{

}

.game_descri_single{

}

#pro_pic_uploader{
    display: none;
}

.navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    color: #fff;
    margin-top: 15px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 0px;
    transition: background-color .3s;
    -webkit-transition: background-color .3s;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: rgba(0, 0, 0, .5);
}

.leader_board_wrapper{
    background-position: center;
    background-size: cover;
    padding-bottom: 45px;
}

.first_leader{
    font-family: "Myriad Pro";
    color: #fff;
    padding: 0 8vh;
    font-size: 30px;
    margin: 10px 0;
}

.first_leader>div{
    background-color: rgba(255,228,0,.4);
}

.first_leader .leader_index{
    display: inline-block;
    font-size: 18px;
    width: 70px;
    height: 70px;
    padding: 25px 28px 0;
    background-color: rgba(0,0,0,.3);
}

.first_leader .leader_name{
    display: inline-block;
    padding-left: 30px;
    padding: 18px 0px 10px 25px;
}

.first_leader .leader_score{
    text-align: right;
    padding: 18px 30px 10px 0;
}

.second_leader{
    font-family: "Myriad Pro";
    color: #fff;
    padding: 0 8vh;
    font-size: 30px;
    margin: 10px 0;
}

.second_leader>div{
    background-color: rgba(240,240,240,.4);
}

.second_leader .leader_index{
    display: inline-block;
    font-size: 18px;
    width: 70px;
    height: 70px;
    padding: 25px 28px 0;
    background-color: rgba(0,0,0,.3);
}

.second_leader .leader_name{
    display: inline-block;
    padding-left: 30px;
    padding: 18px 0px 10px 25px;
}

.second_leader .leader_score{
    text-align: right;
    padding: 18px 30px 10px 0;
}

.third_leader{
    font-family: "Myriad Pro";
    color: #fff;
    padding: 0 8vh;
    font-size: 30px;
    margin: 10px 0;
}

.third_leader>div{
    background-color: rgba(214,154,67,.4);
}

.third_leader .leader_index{
    display: inline-block;
    font-size: 18px;
    width: 70px;
    height: 70px;
    padding: 25px 28px 0;
    background-color: rgba(0,0,0,.3);
}

.third_leader .leader_name{
    display: inline-block;
    padding-left: 30px;
    padding: 18px 0px 10px 25px;
}

.third_leader .leader_score{
    text-align: right;
    padding: 18px 30px 10px 0;
}

.normal_leaders{
    font-family: "Myriad Pro";
    color: #fff;
    padding: 0 8vh;
    font-size: 30px;
    margin: 10px 0;
}

.normal_leaders>div{
    background-color: rgba(0,0,0,.6);
}

.normal_leaders .leader_index{
    display: inline-block;
    font-size: 18px;
    width: 70px;
    height: 50px;
    padding: 16px 28px 0;
    background-color: rgba(0,0,0,.3);s
}

.normal_leaders .leader_name{
    display: inline-block;
    padding-left: 30px;
    padding: 8px 0 0px 25px;
}

.normal_leaders .leader_score{
    text-align: right;
    padding: 8px 30px 0px 0;
}

.games_played_div{
    font-family: "Myriad Pro";
    margin: 0;
    text-transform: uppercase;
    padding: 20px 60px 10px;
    color: #000;
}

.played_game_block{
    font-family: "Myriad Pro";
    text-transform: uppercase;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #fff;
}

.profile_g_name_rate h2{
    margin: 0;
    transition: all .5s;
    -webkit-transition: all .5s;
}

.jq-ry-container{
    padding: 0;
}

.highest_score h2, .highest_score h4{
    margin: 0;
}

.profile_game_list_selected{
    background-color: rgba(0,0,0,.6);
    padding: 20px 0 20px 45px;
    margin-bottom: 30px;
    transition: all .5s;
    -webkit-transition: all .5s;
}

.profile_game_list_item{
    padding: 0 0 0 45px;
    overflow: hidden;
    transition: all .5s;
    -webkit-transition: all .5s;
}

.profile_game_list_selected>div>div{
    opacity: 1;
    display: block;
    transition: all .5s;
    -webkit-transition: all .5s;
}

.profile_game_list_selected .highest_score{
    opacity: 1;
}

.profile_game_list_selected .play_btn_profile{
    opacity: 1;
    display: block;
}

.profile_game_list_item>div>div{
    opacity: 0;
    display: none;
    transition: all .5s;
    -webkit-transition: all .5s;
}

.profile_game_list_item .highest_score{
    opacity: 0;

}

.profile_game_list_item .play_btn_profile{
    opacity: 0;
    display: none;
}

.played_game_list{
    cursor: pointer;
}

.game_list_wrapper{
    padding: 60px 0 100px;
}

.profile_game_list{
    /*padding: 25px 45px 100px 45px;*/
}

.highest_score h4{
    font-size: 15px;
    line-height: 9px;
}

.highest_score h2{
    font-weight: bold;
    font-size: 48px;
    margin-bottom: -25px;
    line-height: 55px;

}

.profile_game_list_item .profile_g_name_rate h2:hover{
    padding-left: 10px;
    color: #b0b0b0;
}

.highest_score{
    padding: 9px 0 0;
}

.profile_game_list h2{
    /*margin: 0;
    padding: 5px 0;
    text-shadow: 1px 1px 6px rgba(0,0,0,.7);
    cursor: pointer;*/
}

.leader_board_select{
    padding: 30px 0 30px 40px;
}

.leader_board_select select{
    background-color: rgba(0,0,0,.7);
    color: #fff;
    padding: 7px 45px 7px 10px;
    border: solid 1px #fff;
    outline: none;
}

.leader_board_select option{
    color: #fff;
    background-color: #000;
    border: none;
    outline: none;
}

.home_block_wrapper{
    perspective: 1000px;
    background-color: #000;
}

.block_front_side{
    z-index: 1;
    backface-visibility: hidden;
    -webkit-transition: transform .4s; /* Safari */
    transition: transform .4s;
}

.block_back_side{
    z-index: -1;
    backface-visibility: hidden;
    -webkit-transition: transform .4s; /* Safari */
    transition: transform .4s;
}

.block_back_side .game_ele_rate_block{
    margin: 0 auto;
}

.rotate_Y_axis{
    -ms-transform: rotateY(180deg); /* IE 9 */
    -webkit-transform: rotateY(180deg); /* Chrome, Safari, Opera */
    transform: rotateY(180deg);
}

.rotate_X_axis{
    -ms-transform: rotateX(180deg); /* IE 9 */
    -webkit-transform: rotateX(180deg); /* Chrome, Safari, Opera */
    transform: rotateX(180deg);
}

.block_both_sides{
    perspective: 2000px;
    width: 100%;
    height: 100%;
}

.rotateY_180{
    -ms-transform: rotateY(180deg); /* IE 9 */
    -webkit-transform: rotateY(180deg); /* Chrome, Safari, Opera */
    transform: rotateY(180deg);
}

.rotateY_360{
    -ms-transform: rotateY(360deg); /* IE 9 */
    -webkit-transform: rotateY(360deg); /* Chrome, Safari, Opera */
    transform: rotateY(360deg);
}

.rotateX_180{
    -ms-transform: rotateX(180deg); /* IE 9 */
    -webkit-transform: rotateX(180deg); /* Chrome, Safari, Opera */
    transform: rotateX(180deg);
}

.rotateX_360{
    -ms-transform: rotateX(360deg); /* IE 9 */
    -webkit-transform: rotateX(360deg); /* Chrome, Safari, Opera */
    transform: rotateX(360deg);
}

.block_front_side, .block_back_side{
    position: absolute;
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.comment_sec{
    font-family: "Myriad Pro";
    background-color: #e5e5e5;
    padding: 5vh 15vh;
}

.comment_description{
    font-size: 16px;
    line-height: 18px;
    text-align: justify;
}

.user_image{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 50px;
    width: 50px;
}

.comment_date{
    color: #868686;
}

.set_comment_pad:nth-child(odd){
    padding: 10px 30px 10px 0px;
}

.set_comment_pad:nth-child(even){
    padding: 10px 0px 10px 30px;
}

.rate_info{
    font-family: "Myriad Pro";
    text-align: center;
}

.rate_info div{
    display: inline-block;
}

.rating_value{
    font-size: 25px;
    padding-left: 8px;
}

.success_icon{
    color: #59c35a;
    font-size: 45px;
    padding: 15px 0 0 0;
}

.error_icon{
    color: #e84646;
    font-size: 45px;
    padding: 15px 0 0 0;
}

.msg_modal_cont{
    font-family: "Myriad Pro";
    font-size: 16px;
    padding: 0 15px;
    margin-bottom: 0;
}

@media (max-width: 768px) {
    .game_descri_txt{
        padding: 7vh 15vh 10vh;
    }

    .game_info{
        text-align: center;
    }

    .game_ele_rate{
        margin: auto;
    }

    .short_descri{
        padding: 0 20px;
    }

    .game_title{
        padding: 0 15px;
    }

    .footer div{
        padding: 5px 0 8px;
    }
    .game_descri_img {
        height: 30vh;
    }
    .normal_leaders, .first_leader, .second_leader, .third_leader{
        padding: 0;
    }
    .profile_info{
        width: 100% !important;
    }
    .dr_pencil_icon{
        margin: 0;
    }
    .input_styles label{
        margin: 0px;
    }
    .play_btn_profile{
        width: 100%;
        margin-top: 18px;
    }

    .pro_info_save_btn{
        width: 100%;
        margin-top: 18px;
    }

    .highest_score{
        text-align: right;
    }
    .profile_game_list_selected{
        padding: 20px 45px;
    }
    .profile_pic_wrapper{
        width: 100%;
        background-color: rgba(0,0,0,.7);
    }
    .profile_pic{
        margin: 0 auto;
    }
    .game_detail_row_g, .game_detail_row_r{
        padding: 8px 0 8px 25px;
    }

    .set_comment_pad:nth-child(odd){
        padding: 10px 0px 10px 0px;
    }

    .set_comment_pad:nth-child(even){
        padding: 10px 0px 10px 0px;
    }
    .comment_sec{
        padding: 5vh 5vh;
    }
    .profie_info_warapper{
        padding: 150px 30px 5px;
    }
    .game_info_warapper{
        padding: 0 30px 1px;
    }
}

.blink_anim {
    opacity: 1;
    -webkit-animation-name: blink_anim; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
    -webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
    animation-name: blink_anim;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes blink_anim {
    50%  {color: rgba(255,255,255,.5);}
    100% {color: rgba(255,255,255,1);}
}

/* Standard syntax */
@keyframes blink_anim {
    50%  {color: rgba(255,255,255,.5);}
    100% {color: rgba(255,255,255,1);}
}


/* Safari 4.0 - 8.0 */
@-webkit-keyframes blk_hvr_trns_s1 {
    100% {transform: scale(0.5); opacity: 0;}
}

/* Standard syntax */
@keyframes blk_hvr_trns_s1 {
    100% {transform: scale(0.5); opacity: 0;}
}

.block_hover_trans_s2{
    -webkit-animation: blk_hvr_trns_s2 .3s forwards;
    -moz-animation: blk_hvr_trns_s2 .3s forwards;
    -ms-animation: blk_hvr_trns_s2 .3s forwards;
    -o-animation: blk_hvr_trns_s2 .3s forwards;
    animation: blk_hvr_trns_s2 .3s forwards;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes blk_hvr_trns_s2 {
    100% {transform: scale(1); opacity: 1;}
}

/* Standard syntax */
@keyframes blk_hvr_trns_s2 {
    100% {transform: scale(1); opacity: 1;}
}
